.filter-cont{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #F3E9DC;
    height:500px;
}

.search-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 500px;
    height: 22px;
    margin-top: 60px;
    border-radius: 15px;
    padding: 15px;
}

.search-box-add{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(185, 185, 185);
    width: 22px;
    height: 22px;
    margin-top: 60px;
    border-radius: 15px;
    padding: 15px;
    font-size: 29px;
    color:rgb(255, 255, 255);
    margin-left: 10px;
    text-align: center;
    cursor: pointer;
}

.search-box-add p{
    transform: translate(1px, -1px);
}

.header-props{
    display: flex;
    padding: 10px;
    border-right: 2px solid black;
}

.header-props::before{
    content: '';
    text-align: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 13px;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.header-all::before{
    content: '';
    text-align: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 13px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
}

.header-filter{
    font-size: 14px;
    padding: 9px;
    color: rgb(175, 175, 175);
}

.header-filter p{
    cursor: pointer;
}

.selected{
    background-color: black;
    border-radius: 15px;
    color: white;
}

