.filter-cont{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #F3E9DC;
    height:370px;    
}

.search-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 600px;
    height: 40px;
    margin-top: 50px;
    border-radius: 15px;
    padding: 15px;
}

.header-props{
    display: flex;
    padding: 10px;
    border-right: 2px solid black;
}

.header-props::before{
    content: '';
    text-align: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 13px;
    border: 1px solid black;
    border-radius: 50%;
}

.header-all::before{
    content: '';
    text-align: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 13px;
    background-color: black;
    border-radius: 50%;
}

